@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&family=Rubik:wght@300&display=swap");
#navbar-logo {
  width: 70px;
}
body{background-color: black;}
.kontener {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: playing;
}



@keyframes slidein {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.atlatszo {
  background-color: rgba(0, 0, 0, 0.389);
  padding: 10px;
  border-radius: 10px;

}
section,footer{
    overflow: hidden;
    white-space: wrap;
    word-break: break-word;
}
#p-bevezetes {
  font-size: 28px;
}
form{width: 500px;
  margin-left: 500px;}

tr{padding-left: 10px;}
#bevezeto {
  height: 90vh;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}

.karakter {
  border-radius: 2%;
}

#href {
  text-decoration: none;
}

#nev {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

#kar-leiras {
  font-family: "Jost", sans-serif;
  font-size: 20px;
}