@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

body{
    overflow-x: hidden;
}

#navbar-logo {
    width: 70px;
}


.kontener, .kontener2{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.atlatszo{
    background-color: rgba(168, 168, 168, 0.346);
    padding: 10px;
    border-radius: 10px;
}

#p-temavalasztas{
    font-size: 20px;
}


#bevezeto{
    height: 60vh;
    background-image: url("images/asd.jpg");
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

#alahuzas{
    text-decoration: underline;
}

#p_csapat{
    font-size: 30px;
}

#bb-bevezeto{
    height: 60vh;
    background-image: url("images/bb-bevezeto.jpg");
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
}