@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&family=Rubik:wght@300&display=swap");
#navbar-logo {
  width: 70px;
}

.kontener {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: playing;
}

@keyframes slidein {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.atlatszo {
  background-color: rgba(0, 0, 0, 0.527);
  padding: 10px;
  border-radius: 10px;
}

#bevezeto {
  height: 90vh;
  background-image: url("images/10.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}

#p-bevezetes {
  font-size: 28px;
}

#leiras {
  font-family: "Jost", sans-serif;
  font-size: 20px;
}

#alcim {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

.circle1 {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: url(images/peter.jpg) center center;
  background-size: cover;
  float: left;
  margin: 0px 50px 30px 0px;
  shape-outside: circle(50%) margin-box;
}
.circle1:hover {
  transform: scale(200%);
  transition-duration: 1s;
}

.circle2 {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: url(images/vince.jpg) center center;
  background-size: cover;
  float: right;
  margin: 2px 0px 30px 50px;
  shape-outside: circle(50%) margin-box;
}
.circle2:hover {
  transform: scale(200%);
  transition-duration: 1s;
}

.utolso-p {
  margin-bottom: 0px;
}
