@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&family=Rubik:wght@300&display=swap');
#navbar-logo {
    width: 70px;
}

.kontener{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.atlatszo{
    background-color: rgba(0, 0, 0, 0.527);
    padding: 10px;
    border-radius: 10px;
}

#bevezeto{
    height: 90vh;
    background-image: url("images/bettercallsaul4.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}

#p-bevezetes{
    font-size: 28px;

}

#leiras{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

#alcim{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.circle1{
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: url(images/bettercallsaul/ChuckS1.webp) center center;
    background-size: cover;
    float: left;
    margin: 0px 50px 30px 0px;
    shape-outside: circle(50%) margin-box;
}

.circle2{
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: url(images/bettercallsaul/hectorsalamanca.jpg) center center;
    background-size: cover;
    float: right;
    margin: 2px 0px 30px 50px;
    shape-outside: circle(50%) margin-box;
}

.circle3{
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: url(images/bettercallsaul/HowardHamlin.webp) center center;
    background-size: cover;
    float: left;
    margin: 2px 50px 30px 0px;
    shape-outside: circle(50%) margin-box;
}

.circle4{
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: url(images/bettercallsaul/Kim_Wexler.webp) center center;
    background-size: cover;
    float: right;
    margin: 18px 0px 30px 50px;
    shape-outside: circle(50%) margin-box;
}

.circle5{
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: url(images/bettercallsaul/nachovarga.jpg) center center;
    background-size: cover;
    float: left;
    margin: 15px 50px 30px 0px;
    shape-outside: circle(50%) margin-box;
}

.circle6{
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: url(images/bettercallsaul/Werner_Ziegler.webp) center center;
    background-size: cover;
    float: right;
    margin: 2px 0px 30px 50px;
    shape-outside: circle(50%) margin-box;
}

.circle7{
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: url(images/bettercallsaul/lalo_salamanca.webp) center center;
    background-size: cover;
    float: left;
    margin: 30px 50px 30px 0px;
    shape-outside: circle(50%) margin-box;
}

.circle8{
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: url(images/bettercallsaul/Marion.webp) center center;
    background-size: cover;
    float: right;
    margin: 50px 0px 10px 50px;
    shape-outside: circle(50%) margin-box;
}

.utolso-p{
    margin-bottom: 0px;
}